<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <!-- Define credentials for Nexus -->
        <server>
            <id>NEXUS_ADMIN</id> <!-- This should match the id in your distributionManagement section -->
            <username>nexus</username>
            <password>nexus</password>
        </server>
    </servers>

    <mirrors>
        <!-- Define a mirror for Nexus -->
        <mirror>
            <id>mirrorId</id>
            <mirrorOf>central</mirrorOf>
            <name>sample-rel</name>
            <url>http://3.104.223.90:8081/repository/sample-rel/</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>nexus</id>
            <!-- Enable snapshots for this profile -->
            <repositories>
                <repository>
                    <id>sample-snap</id>
                    <url>http://3.104.223.90:8081/repository/sample-rel/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <!-- Activate the Nexus profile -->
    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>
